<link rel="stylesheet" type="text/css" href="https://jessethegreat.github.io/Keeping-It-Stylish/">

html{
    background-color: rebeccapurple;}

.red{
    height:100px;
    width:100px;
    background-color:red;}

.blue{
    height:400px;
    width:300px;
    background-color:blue;
    border:2px solid red;}


.green{
    height:600px;
    width:250px;
    background-color:green;
    border-radius:6px;}

